.navbar-inverse{
    background-color: #880000 !important;
    border-color: #880000 !important;
}

.login-logo img{
	width: 40%;
	text-align: center;
}

.btn-primary{
	background-color: #880000 !important;
	border-color: #880000 !important;
}