<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>University of Ilvermorny</title>

    <!-- Bootstrap core CSS -->
    <link href="../theme/custom/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../theme/custom/css/style.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
       <div class="container">
        <img src="../theme/custom/img/logo.gif" style="float: left; margin-right: 10px; width: 50px; height: 40px;"/>
        <a class="navbar-brand" href="index.html" style="font-size: 20px; font-weight: lighter; font-family: serif;"> <span class="highlight"> U</span>NIVERSITY OF <span class="highlight">I</span>LVERMORNY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../home/about">About UI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../home/contact">Contact</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="../student">Log In</a>
            </li>

          </nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About
        <small></small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="../home">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <a href="#"><img class="card-img-top" src="../theme/custom/img/ui logo.jpg" alt=""></a><br><br>
               </div>
        <div class="col-lg-6" style="text-align: justify;">
          <h2>Meaning of UI Logo</h2>
          <p>Since the logo of an institution is not only a mark for its legal and public documents, communications, and publications, but more importantly, a symbol of the institution.
More than that, it signifies the sentiments and aspirations that guide the institution and its constituents.<br><br>

It shows an atom in the inner portion of the gear representing the fields of specialization in the University, namely, engineering, science and technology. The ribbon symbolize excellence and quality of education as demonstrated by the rich achievements of the University.<br><br>

The University's colors are maroon and yellow gold which is the traditional colors of University. It signifies strength, creativity, courage and prosperity.</p>
        </div>
      </div>
        <div class="col-lg-6" style="text-align: center; float: left; border-style: solid;border-color:gray; padding-top: 50px">
          <h2>MISSION</h2><br>
          <p>To protect andpromote the right of every Filipino to quality,equitable, <br>
culture-based, and complete basic education where:<br>
Students learn in a child-friendly, gender-sensitive, safe and <br>
motivating environment <br>
Teachers facilitate learning and constantly nurture every learner<br>
Adminstrator and staff, asstewards of the institutions, ensure an<br>
anabling and supportive environment for effective learning to happen<br>
Family, community and other stakeholders are actively engaged and <br>
share responsibility for developing lifelong learners</p>
        </div>
         <div class="col-lg-6" style="text-align: center; border-style: solid; border-color: gray; float: right; padding-top: 50px">
          <h2>VISION</h2><br>
          <p>We dream of filinos<br>
who passionately love their country<br>
and whose competencies and values<br>
and contribute meaning fully to building the nation.<br>
We are a learner-centered public institution,<br>
the Department of Education<br>
continously improves itself<br>
to better serve its stakeholders
<br><br>
</p>
        </div>
      <!-- /.row --><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <!-- Team Members -->
      <h2></h2>

      <div class="row" style="margin-left: 350px;">
          <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center" style="width: 400px; height: 400px;">
            <img class="card-img-top" src="../theme/custom/img/prof.jpg" style="width: 400px; height: 250px;">
            <div class="card-body">
              <h4 class="card-title">University of Ilvermorny</h4>
              <h6 class="card-subtitle mb-2 text-muted">Director</h6>
              <p class="card-text">Pet C. Malu</p>
            </div>
            <div class="card-footer">
                         </div>
          </div>
        </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; Department of Education</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../theme/custom/vendor/jquery/jquery.min.js"></script>
    <script src="../theme/custom/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
