<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>University of Ilvermorny</title>

    <!-- Bootstrap core CSS -->
    <link href="theme/custom/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme/custom/css/style.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <img src="theme/custom/img/logo.gif" style="float: left; margin-right: 10px; width: 50px; height: 40px;"/>
        <a class="navbar-brand" href="index.html" style="font-size: 20px; font-weight: lighter; font-family: serif;"> <span class="highlight"> U</span>NIVERSITY OF <span class="highlight">I</span>LVERMORNY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="home/about">About UI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="home/contact">Contact</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="student">Log In</a>
            </li>

          </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url(<a href="http://tinypic.com?ref=2py26m9" target="_blank"><img src="theme/custom/img/ui school1.png" border="0" ></a>);
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url(<a href="http://tinypic.com?ref=2qjwzz4" target="_blank"><img src="theme/custom/img/ui teacher1.png" border="0"  ></a>);
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url(<a href="http://tinypic.com?ref=2i6hs3a" target="_blank"><img src="theme/custom/img/ui tagline1.png" border="0" ></a>);
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <div style="text-align: center; font-family: sans-serif;" >
       <h1 class="my-4">Welcome to <strong>UNIVERSITY</strong>OF<strong> ILVERMORNY</strong> <br> Student Information System </h1>
         </div>

      <!-- /.row -->

      <!-- Portfolio Section -->
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
        </li>
        <li >  <h1> EDUCATION</h1></li>
      </ol>
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="theme/custom/img/academic.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title" style="color:#cc0000">
                <a > <strong>ACADEMIC</strong> </a>
              </h4>
              <p class="card-text" style="font-size: 13px">Bachelor of Science in Information Technology<br>Bachelor of Science in Industial Engineering
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="theme/custom/img/sports.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title" style="color:#cc0000">
                <a><strong>SPORTS</strong> </a>
              </h4>
              <p class="card-text">The importance of sports and games in school encompasses more than just the benefit of physical activity. Increases in self-esteem and mental alertness make school sports and games necessary for every school age child.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="theme/custom/img/art.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title" style="color:#cc0000">
                <a><strong>ARTS & DESIGN</strong> </a>
              </h4>
              <p class="card-text" style="font-size: 13px"> The Arts & Design track will prepare you as you wander around the design, performative, and creative industry. What this track aims is to get you a career in the creative field after you graduate. Breaking the stereotype that is there no careers in this industry, you'll be surprised how fun the Arts and Design world can be. </p>
            </div>
          </div>
        </div>

      <!-- /.row -->
      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" style ="text-align:center;"></style>ABOUT UI</h4>
            <div class="card-body">
              <p class="card-text">Mission<br>Vision<br>UI Director</p>
            </div>
            <div class="card-footer">
              <a href="home/about" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" style="text-align: center;">LOG IN</h4>
            <div class="card-body">
              <p class="card-text">Student information systems provide capabilities for registering students in courses, transcripts, and other assessment scores, building student schedules, and managing many other student-related data needs in a school.</p>
            </div>
            <div class="card-footer">
              <a href="home/login" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" style="text-align: center;">CONTACT</h4>
            <div class="card-body">
              <p class="card-text">Campus Address<br> Campus Contact No.<br>Campus Email<br>Campus Hours</p>
            </div>
            <div class="card-footer">
              <a href="home/contact" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; Department of Education</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="theme/custom/vendor/jquery/jquery.min.js"></script>
    <script src="theme/custom/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

